.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
backend/
assets/codewalkthrough.mp4
assets/explainerrors.mp4
assets/generatetestcases.mp4
assets/suggestfixes.mp4